name: Nuclei scan

on:
  workflow_dispatch:



jobs:
  nuclei-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Scan with nuclei
        id: latest_scope
        run: |
          docker run -v "$PWD:/data" --rm projectdiscovery/nuclei -nh -mhe 5 -l /data/storage/endpoints.txt -t http/exposures/configs/ -severity medium,high,critical

